h2{
color: navy;
text-decoration: underline;
text-align: center;
}

body{
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif ;
}

h3{
color: darkred;
font-family: 'Courier New', Courier, monospace;
}

h1{

text-align: center;

}