body {
    background-color: black;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}


h1 {
    font-size: 36px;
    color: red;
    text-align: center;
}

h2 {
    font-size: 32px;
    color: red;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

h3, h4, h5 {
    color: yellow;
}


.main {
    max-width: 1100px;
    margin: auto;
}


.common {
    background-color: aliceblue;
    border: 2px solid white;
    color: black;
    padding: 15px;
    border-radius: 8px;
    margin: 20px 0;
}


.left {
    width: 250px;
}

.right {
    width: 350px;
}

.header {
    z-index: 10;
}


.pretty {
    color: pink;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.footer {
    background-color: aliceblue;
    border: 2px solid white;
    color: black;
    padding: 10px;
    text-align: center;
    margin-top: 40px;
}


.dino-img {
    width: 100%;
    max-width: 900px;
    display: block;
    margin: 30px auto;
    border: 3px solid white;
}

